	#sidebar{
  width: 20%;
  height: 100%;
  float: left;
  margin-top: 20px;
  position: absolute;
  line-height: 1;
  font-family: sans-serif;
  font-size:18px;
  position: relative;
  text-decoration: none;
 }

#sidebar > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #ed1144;
  color: #ffffff;
  border-bottom: 1px solid #5e071b;
  text-transform: uppercase;
  text-decoration: none;

}
#sidebar > ul > li > a > span {
  background: #EF3B3A;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}


#sidebar span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#sidebar ul ul {
  display: none;

}
#sidebar ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}
#sidebar ul ul a {
  padding: 10px;
  display: block;
  color: #ed1144;
  font-size: 13px;
  background: white;
  text-decoration: none
}
#sidebar ul ul a:hover {
  color: #bd0e36;
}

#sidebar ul {
  list-style-type: none;

}


